@model TaskLoggerApplication.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script>
     var i = 0, j = 0;
    function add_text() {
        var box_value = document.getElementById("user").value;
        document.getElementById("user_list_" + i).innerHTML = box_value;
        i++;
        var para = document.createElement("p");
        para.setAttribute("id", "user_list_" + i);
        var input1 = document.createElement("input");
        var input2 = document.createElement("input");
        input1.setAttribute("type", "hidden");
        input1.setAttribute("name", "ApplicationUsers["+ j +"].ID");
        input1.setAttribute("value", "0");
        input2.setAttribute("type", "hidden");
        input2.setAttribute("name", "ApplicationUsers[" + j + "].UserName");
        input2.setAttribute("value", box_value);

        var div1 = document.getElementById("users_para");
        div1.appendChild(para);

        var div2 = document.getElementById("user_container");

        div2.appendChild(input1);
        div2.appendChild(input2);
        j++;
        document.getElementById("user").value = "";

    }
</script>
@*<div class="form-group" id="user_container">
    <label class="col-md-5">Users</label>
    <div class="col-md-10" id="users_para">
        <p id="user_list_0"></p>
    </div>
    <input type="text" id="user" class="form-control" />
    <br /><br />
    <input type="button" value="Add" id="add" onclick="add_text();" />
</div>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
         
        <div class="form-group" id="user_container">
            <label class="col-md-5">Users</label>
            <div class="col-md-10" id="users_para">
                <p id="user_list_0"></p>
            </div>
            <input type="text" id="user" class="form-control" />
            <br /><br />
            <input type="button" value="Add" id="add" onclick="add_text();" />
        </div>
        <br /><br /><br /><br /><br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
